/*styles for page no-form-yet at the end of this sheet*/

/*styles for index*/

/*colors, from https://paletton.com/#uid=1330u0km0kM4nvTg0qFqFg0J085 
#002611 darkest
#0D4B2A second darkest
#488866 second lightest
#B0D8C3 lightest
#28784D base*/

/*fonts
font-family: "Nunito", serif;       plane text
font-family: "Akaya Kanadaka", serif;   for logo*/
body {
    background-color: #273F49;
}
section, div, header, footer {
    border-radius: 10px;
}
h1 {        /*headline intro*/
    font-family: "Nunito", serif; 
    color: #002611;
    font-size: 36px;
    font-weight: 700;
}
h2 {        /*all other headlines */
    font-family: "Nunito", serif; 
    color: #002611;
    font-size: 24px;
    font-weight: 700;
}
h3 {        /*vegetable names*/
    font-family: "Nunito", serif; 
    color: #002611;
    font-size: 18px;
    font-weight: 700;
}
h4 {        /*footer*/
    font-family: "Nunito", serif; 
    color: #002611;
    font-size: 18px;
    font-weight: 700;
}
p {
    font-family: "Nunito", serif; 
    color: #002611;
    font-size: 14px;
    font-weight: normal;
}
a:link {

}
a:visited {

}
a:hover {

}
/*a link the moment it is clicked*/
a:active {
    color: #273F49;
    font-size: 20px;
    cursor: crosshair;
}
/*all buttons same style*/
button {
    background-color: #488866;
    max-width: 75px;
    width: 100%;
    min-height: 20px;
    height: 100%;
    border-color: #feedb7;
    border-radius: 15px;
}
button a {
    color: #feedb7;
}
.submit-btn {
    align-self: center;
}

header {
    max-width: 1100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    margin: auto;
    background-color: #C1E4F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-img {
    margin: 25px;
}
.logo-text { 
    font-family: "Akaya Kanadaka", serif; 
    font-size: 20px;
    margin-left: 25px;
}
.nav-list {
    display: flex;
    margin-right: 25px;
}
/*li in both header and footer*/
li {
    font-family: "Nunito", serif; 
    color: #002611;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
    list-style-type: none;
}

.intro {
    max-width: 1100px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    margin: auto;
    margin-top: 25px;
    background-color: #B0D8C3;
    display: flex;
    justify-content: space-around;
}
.text-intro {
    max-width: 550px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: justify;
}
.img-intro {
    max-width: 450px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-img, .source-to-text-intro {
    font-style: italic;
    font-size: 12px;
}

.vegetable-facts {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    margin: auto;
    margin-top: 25px;
}
.h2-vegetable-facts {
    text-align: center;
    color: #B0D8C3;
}
.container-vegetable-card {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    width: 100%;
    max-height: 250px;
    height: 100%;
}
.vegetable-card {
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    background-color: #B0D8C3;
}
.text-vegetable-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 75px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    background-color: #B0D8C3;
}
.vegetable-latin-name {
    font-style: italic;
}
/*the other way to insert a svg-file: create a div in HTML and the svg as background img in css. 
this means no alternate text to the image, which is not proper sementic regarding images*/
.container-carrot {  
    width: 100px;
    height: 200px;
    background-image: url(../images/carrot.svg);
    background-size: cover;
}

.section-2-forms {  /*because I want the two tiny forms next to each other*/
    max-width: 1100px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
.purchase-info {
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    background-color: #B0D8C3;
}
.vernissage {
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    background-color: #B0D8C3;
}
.h2-form {
    text-align: center;
    min-height: 25px;
    height: 100%;
}
.p-form {
    max-width: 450px;
    width: 100%;
    margin-left: 25px;
    min-height: 50px;
    height: 100%;
}
.container-form-purchase, .container-form-vernissage {
    max-width: 450px;
    width: 100%;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
}
.label-n-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label, input, option {
    font-family: "Nunito", serif; 
    font-size: 14px;
    color: #002611;
    background-color: #C1E4F1;
    border: none;
}

footer {
    max-width: 1100px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    margin: auto;
    margin-top: 25px;
    background-color: #C1E4F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h4-footer {
    margin-left: 25px;
}
.list-footer {
    display: flex;
    margin-right: 25px;
}

/*styles for page no-form-yet */
.no-form-yet {
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    margin: auto;
    margin-top: 25px;
    background-color: #C1E4F1;
    display: flex;
    flex-direction: column;
    border-radius: 45px;
}
.no-form-yet-svg-and-text {
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no-form-yet-text {
    max-width: 300px;
    width: 100%;
    min-height: 150px;
    height: 100%;
    text-align: justify;
}
.email-me-instead {
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-email {
    font-family: "Nunito", serif; 
    color: #002611;
    font-size: 24px;
    font-weight: 700;
}
